100.80.129.104 {
    # Forza Caddy a generare un certificato interno (Self-Signed)
    # Invece di provare a chiederlo a Let's Encrypt
    tls internal

    reverse_proxy frontend:80
    
    # Indirizza le chiamate API al backend
    handle_path /api/* {
        reverse_proxy backend:8000
    }

}

